* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #090A0A !important;
    font-family: 'Open Sans', sans-serif !important;
}
table {
    cursor: pointer;
}
a {
    text-decoration: none !important;
    color: #fff !important;
}
.container {
    background-color: #212529 !important;
}
li {
    list-style: none !important;
    display: inline !important;
    letter-spacing: 1px;
     margin-right: 1rem !important; 
     cursor: pointer;   
}
.home-content {
    position: relative;
}
.clr {
    clear: both;
}

hr {
    color: #fff;
}
.carousel-inner h5, .carousel-inner p { 
    color: #fff !important;
    font-size: 1.5rem;
}
.white {
    color: #fff;
}
th {
   align-items: center;
}
