*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-primary: #6c63ff; 
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66 ,0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}
body {
 font-family: "Montserrat", sans-serif;
 line-height: 1.7;
 color: var(--color-white);
 background: var(--color-bg);
 
}
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
section {
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4{
    font-size: 1.3rem;
}
a {
    color: var(--color-white);
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}
.header__left {
    margin:  1rem 0 2.4rem;
    
}

nav{
    top:  0 !important;
    height: 6rem;
    width: var(--container-width-lg);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
 margin: 30px 100px 0;
 top:  0 !important;
 position: absolute;
}


/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    margin:  0 auto;
    padding: 0 0.5vw;
    justify-content: right;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.5vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
    left: 1.5rem !important;
    right: 1.5rem !important;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.olimpiada__container {
    background:url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size:cover;
  background-repeat:repeat;
  color:#000;
}
.wrap {
    overflow: hidden;
    margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
 .boxInner img { width: 100% }


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 25%;
    }
}











/* Panda animation */


.panda {
    position: absolute;
    top: 40%;
    left: 60%;
    height: 120px;
    width: 80px;
    background-color: white;
    border: 5px solid black;
    border-radius: 30%;
 }
 .face {
     position: relative;
     background-color: white;
     border: 5px solid black;
     height: 90px;
     width: 110px;
     border-radius: 50%;
     bottom: 30px;
     right: 20px;
 }
 .ear-l, .ear-r {
     position: relative;
     background-color:  black;
     height: 25px;
     width: 40px;
     border-radius: 0 0 40px 40px;
    }
    .ear-l {
        transform: rotate(147deg);
        right: 8px;
        bottom: 13px;
    }
    .ear-r {
        transform: rotate(-140deg);
        left: 74px;
        bottom: 38px;
    }
    .eye-l, .eye-r {
        position: relative;
        background-color: black;
        width: 28px;
        height: 33px;
        border-radius: 50%;
    }
    .eye-l {
        bottom: 30px;
        left: 8px;
        transform: rotate(25deg);
    }
    .eye-r {
        transform: rotate(-25deg);
        bottom: 63px;
        left: 65px;
    }
    .eyeball {
        position: relative;
        top: 8px;
        left: 7px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;
    }

    .nose {
        position: relative;
        height: 8px;
        width: 15px;
        background-color: black;
        border-radius: 15px;
        bottom: 65px;
        left: 43px;
    }
    .hand-l, .hand-r {
        position: relative;
        width: 25px;
        height: 43px;
        background-color: black;
        border-radius: 30px;
    }
    .hand-l {
        transform: rotate(93deg);
        bottom: 28px;
        animation: wave 3s infinite;
        transform-origin: top;
    }
    @keyframes wave {
      50% {
          transform: rotate(120deg);
      }
    }
    .hand-r {
        transform: rotate(-93deg);
        bottom: 88px;
        left: 97px;
    }
    .leg-l, .leg-r {
         position: relative;
         border-radius: 30px;
         background-color: black;
         width: 15px;
         height: 25px;
        
    }  
    .leg-l {
        left: 25px;
        bottom: 4.6rem;
          }
    .leg-r {
        bottom: 6.1rem;
        left: 3.8rem;
    }
    .shadow{
        position: relative;
        background-color: rgba(0, 0 , 0, 0.2);
        height: 30px;
        width: 100px;
        border-radius: 50%;
        bottom: 115px;
        left: 2px;
    }
